// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// Navbar
// --------------------------------------------------
.navbar {
  .navbar-inner {
    padding-left:  20px;
    padding-right: 20px;
    border: 1px solid $navbarBorder;
    color: black;
    display: block;
  }
}
.navbar .nav > li > a {
  text-shadow: none;
}

// Dropdown Menus
// --------------------------------------------------
ul.dropdown-menu {
  margin: 0;
  > li {
    > .radio {
      padding: 3px 20px;
      clear: both;
      input {
        margin: 2px 8px 0 0;
        vertical-align: middle;
      }
    }
  }
}
.oa-dropdown {
  display: inline-block;
  margin: 0 0.25em 0 0.25em;
  vertical-align: middle;
  ul {
    margin: 0.5em 0;
    li {
      margin: 0;
    }
  }
}

// Main menu
// --------------------------------------------------
#main-menu {
  clear: left;
  > ul.menu {
    > li {
      > a {
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 0 gray;
        &:hover {
          text-decoration: none;
          background-color: transparent;
        }
        &:focus, &.active {
          text-decoration: none;
          background-color: transparent;
          @include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125));
        }
      }
      > ul.menu {
        background-color: white;
        border: 1px solid #CCC;
        border: 1px solid rgba(0, 0, 0, 0.2);
        @include border-radius(6px 6px 6px 6px);
        @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
        li {
          a {
            color: #333;
            &:focus, &:hover {
              color: $dropdownLinkColorHover;
              text-decoration: none;
              background-color: $dropdownLinkBackgroundActive;
              @include ctb-gradient-vertical($dropdownLinkBackgroundActive, darken($dropdownLinkBackgroundActive, 5%));
            }
          }
        }
      }
      &.open {
        > a {
          color: #555;
          background-color: #E5E5E5;
        }
      }
    }
  }
}

// Dropdown menu
// --------------------------------------------------
#oa-navbar ul.dropdown-menu,
ul.dropdown-menu,
.dropdown-menu {
  color: $dropdownLinkColor;
  .item-list {
    h3 {
      color: $black;
      text-shadow: none;
      background: none;
      padding: 3px 20px;
      line-height: 20px;
    }
  }
  ul {
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: $baseLineHeight;
        color: $dropdownLinkColor;
        white-space: nowrap;
        &:hover, &:focus, &.active {
          text-decoration: none;
          color: $dropdownLinkColorHover;
          @include ctb-gradient-vertical($dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
        }
        &.more-link {
          text-align: left;
        }
      }
      .flag-wrapper {
        padding: 0;
        .flag {
          width: auto;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
}

// Footer styles
// --------------------------------------------------
.region-footer, #footer {
  overflow: hidden;
  ul.menu {
    margin-bottom: 0;
    > li {
      float: left;
      min-width: 150px;
      list-style: none !important;
      > a {
        font-weight: bold;
        font-size: 14px;
      }
      > ul {
        > li {
          float: none;
          > a {
            font-weight: normal;
            font-size: 12px;
          }
        }
      }
    }
    a {
      border: 0;
      display: block;
      padding: 0 5px;
      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}

/* OG Menu */
.pane-og-menu-single-menu {
  ul.menu > li > a {
    font-size: 18px;
  }
  ul.menu > li > ul li a {
    font-size: 14px;
  }
  ul.menu li {
    margin: 2.5px;
  }
  ul.menu li a.active {
    font-weight: bold;
    font-size: $baseFontSize + 1px;
  }
  .pane-content > ul.menu > .dhtml-folder > a{
    font-size: 18px;
  }
}

/* Sections menu */
#mini-panel-oa_toolbar_panel .pane-impetus-panes-section-dropdown {
    display: inline-block;
    float: left;
    li.close-button {
      display: none;
    }
    .spaces-section-dropdown {
      margin-top: 5px;
      @include breakpoint('mini-tablet') {
        margin-left: 0px;
        width: 400px;
        > li {
          margin-bottom: 10px;
          vertical-align: top;
          width: 40%;
        }
      }
      @include breakpoint('phone') {
        margin-left: 0px;
        width: auto;
        > li {
          width: auto;
        }
      } 
    }
    @include breakpoint('tablet') {
      li.close-button {
        display: block;
      }
    }
    @include breakpoint('mini-tablet') {
      li.close-button {
        display: block;
      }
    }
    @include breakpoint('phone') {
      display: block;
      width: 98%;
      max-height: 300px;
      overflow-y: scroll;
      border-bottom: 1px solid $grayLighter;
      .close-button {
        display: none !important;
      }
      .dropdown {
        margin-bottom: 5px;
      }
    }  
    li {
      @include breakpoint('phone') {
        display: block;
        margin: 0px 2.5px;
        text-align: center;
      } 
    }
    .show {
      @include breakpoint('phone') {
        display: block;
        position: static;
        width: 93%;
      } 
    }
    .nested {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      border: none;
      top: 27px;
      @include breakpoint('mini-tablet') {
        box-shadow: none;
        top: 50px;
        border: 1px solid #E3E3E3;
      }
    }
    .nested li {
      margin: 5px 0px !important;
    }
    .nested li a {
      color: $linkColor;
    }
}

/* Header menu in black bar */
.spaces-section-dropdown {
  .close-button {
    @include breakpoint('phone') {
      display: none;
    }
  }
}

/* Section dropdown menu on side */
.content .spaces-section-dropdown {
  margin-left: 0px;
  > li {
    padding-left: 20px;
    background: url('../images/menu-arrow-right.png') left 3px no-repeat;
  }
  > li.open {
    background: url('../images/menu-arrow-down.png') left 3px no-repeat;
  }
  li {
    display: block;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  ul.nested {
    position: static;
    margin: 2.5px 0px;
    border: none;
  }
  ul.nested li {
    margin-left: 5px;
  }
  li.close-button {
    display: none;
  }
}

/* Active menu items in group menu */
.content .pane-og-menu-single-menu .pane-content ul li {
  a {
    color: $grayDark;
  }
} 
.content .pane-og-menu-single-menu .pane-content ul > li > a.active {
  font-size: 18px;
  color: #0071B3;
}