// Node
// Styles for Nodes
// --------------------------------------------------

// General node styles
// --------------------------------------------------
.oa-body {
  padding: 0 10px;
  clear: both;
}
.oa-media {
  padding: 5px 10px;
}
.oa-description {
  font-size: 12px;
  color: #555;
  line-height: 16px;
}
.well.current-node {
  border-left: 6px solid #B0EBA3;
  margin-left: -6px;
}
.field.field-type-image .field-item {
  border: 0;
  @include box-shadow(none);
  margin-bottom: 0;
}
.oa-list, 
.field .field-item, 
.field-content, 
.mceContentBody {
  ul {
    list-style-type: disc;
    margin: 0 0 10px 25px;
  }
  ol {
    list-style-type: decimal;
    margin: 0 0 10px 25px;
  }
}
.oa-list.oa-news {
  border-bottom: 1px solid #E2E2E2;
  padding: 0 15px 15px 15px;
  margin-bottom: 15px;
}
.views-row-last .oa-list.oa-news {
  border-bottom: 0;
  padding-bottom: 0;
}

#block-system-main .content .panel-pane .pane-content {
  img, iframe, div {
    max-width: 100% !important;
  }
  img {
    height: auto !important;
  }
}
// News
// --------------------------------------------------
.oa-news {
  .oa-news-header {
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .oa-news-posted {
    color: #A6A6A6;
    a {
      color: #333;
    }
  }
  .oa-news-body {
    margin-top: 10px;
  }
  .oa-news-image {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .oa-news-tags a {
    @extend .label;
  }
}

/* General Nodes */
.node {
  .field-type-video video,
  .field-type-video object {
    max-width: 100%;
    height: auto;
  }
}

/* Announcement Nodes */
body.node-type-announcement {
  .field-name-field-preview-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #main-wrapper #block-system-main .content .pane-content .field-name-field-preview-image img {
    max-width: 175px !important;
    height: auto;
  }
  .pane-node-created .pane-title {
    display: inline-block;
    font-size: $baseFontSize;
    margin-right: 0px;
  }
  .pane-node-created .pane-title:after {
    content: " - "
  }
  .pane-node-created .pane-content {
    display: inline-block;
    font-weight: bold;
  }
}
#main-wrapper #block-system-main .content .pane-impetus-panes-announcements {
  h2 {
    line-height: 25px;
  }
  h2 a {
    font-size: 20px;
    line-height: 1px;
  }
  .field-name-field-preview-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .field-name-field-preview-image img {
    max-width: 125px !important;
    height: auto;
  }
  .node-teaser .link-wrapper {
    text-align: right;
  }
  .node-teaser {
    border-top: 1px solid #ccc;
    padding: 5px 0px;
  }
  .node-teaser:first-child {
    border-top: none;
  }
}

/* File Nodes */
article.node-file {
  .field {
    margin-bottom: 15px;
  }
  .field-label {
    font-size: 18px;
  }
  .field-item {
    font-size: 16px;
  }
  .field {
    border-bottom: #DDDDDD 1px solid;
    margin: 15px 0px;
    padding-bottom: 20px;
  }
  .field-name-field-uploaded-file {
    .field-label {
      font-size: 22px;
      line-height: normal;
      font-weight: normal;
    }
    .field-item {
      font-size: 20px;
      line-height: normal;
      font-weight: normal;
    }
  }
  .submitted {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #DDDDDD 1px solid;
    img,
    .submitted-by {
      display: inline-block;
    }
    img {
      margin-right: 35px;
    }
    .submitted-by {
      display: inline-block;
      font-size: 22px;
      line-height: normal;
      margin-top: 15px;
      vertical-align: top;
      width: 78%;
    }
    @include breakpoint('tablet') {
      .submitted-by {
        margin-top: 0px;
        width: 73%;
        width: 65%;
        font-size: 18px; 
      }
    }
    @include breakpoint('mini-tablet') {
      .submitted-by {
        margin-top: 0px;
        width: 65%;
        font-size: 18px; 
      }
    }
    @include breakpoint('phone') {
      .submitted-by {
        margin-top: 10px;
        display: block;
        width: auto;
      }
      img {
        margin: auto;
        display: block;
      }
    }
  }
}
body.node-type-file {
  .node-file,
  #block-system-main .panel-display  {
    clear: both;
  }
  #lock-file-button {
    float: right;
  }
  #main-wrapper #contextual-tabs {
    display: block;
  }
  .field-name-field-file-category > .field-label,
  .field-name-field-file-category .field-items .field-item > a{
    display: none;
  }
  @include breakpoint('mini-tablet') {
    #contextual-tabs {
      margin-top: 0px;
    }
  }
}
.files-in-folder {
  margin-top: 15px;
  strong {
    font-size: 18px;
  }
  ul.files-in-this-folder-list {
    margin-left: 0px;
  }
  ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 7.5px;
    width: 28%;
    vertical-align: top;
    word-break: break-all;
  }
  @include breakpoint('tablet') {
    ul li {
      display: block;
      margin: 5px 0px;
      width: auto;
    }
  }
  @include breakpoint('mini-tablet') {
    ul li {
      display: block;
      margin: 5px 0px;
      width: auto;
    }
  }
}
.file-version-number {
  strong {
    font-size: 18px;
  }
}
body.page-node #main-wrapper #contextual-tabs {
  display: block;
}

/* Task Nodes */
.node-oa-worktracker-task {
  @include breakpoint('mini-tablet') {
    .group-oa-worktracker-task-info-display {
      clear: both;
      float: none;
      margin: 10px 0px;
      width: auto;
    }
  }
}