// Page
// Styles for individual pages
// --------------------------------------------------

// Login page
// --------------------------------------------------
body.oa-login div.region-content {
  margin-top: 20px;
  min-height: 376px;
  .pane-bundle-text {
    width: 75%;
    h3 {
      font-size: 60px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    p {
      font-size: 120%;
      line-height: 125%;
    }
  }
  .pane-bundle-text:first-child {
    width: 40%;
    max-width: 481px;
    margin-top: 220px;
    height: 250px;
    text-align: center;
  }
}
body.oa-login div.content {
  margin-top: 20px;
  margin-right: 100px;
  min-height: 466px;
  position: relative;
  .oa-pane {
    position: relative;
    left: 25px;
    margin: auto;
    width: 50%;
    min-width: 300px;
    .panel-pane {
      background-color: white;
      h3 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 26px;
      }
      input.form-text {
        width: 95%;
      }
      .form-type-password {
        margin-bottom: 0;
        input {
          margin-bottom: 0;
        }
      }
      .password-reset {
        font-size: 90%;
        color: #777;
      }
    }
  }
  @include breakpoint('tablet') {
    .oa-pane {
      left: 0;
      top: 0;
    }
  }
  @include breakpoint('mini-tablet') {
    background-image: none;
    .oa-pane {
      left: 0;
      top: 0;
    }
  }
  @include breakpoint('phone') {
    background-image: none;
    .oa-pane {
      left: 0;
      top: 0;
    }
  }
}
body.oa-login #user-login-panel .oa-pane {
  top: 115px;
}

/* General Pages */
body.page-node #main-wrapper #main #contextual-tabs,
body.page-node #main-wrapper #main #contextual-tabs .btn-group {
  display: none;
}
#panels-ipe-control-container {
  display: none !important;
}
body.logged-in-admin,
body.node-type-file {
  #main-wrapper #main #contextual-tabs{
    display: block;
  }
  #panels-ipe-control-container {
    display: block !important;
  }
}
body.logged-in-admin #main-wrapper #main #contextual-tabs .btn-group {
  display: inline-block;
}

/* General Styling for Lightboxes and Lightframes */
#lightbox {
  iframe {
    overflow: scroll;
  }
  #lightboxFrame {
    min-height: 650px;
    min-width: 800px;
  }
  #outerImageContainer {
    min-width: 830px !important;
    max-width: 85% !important;
    margin-top: 60px;
  }
  #imageDataContainer {
    min-width: 830px !important;
    max-width: 85% !important;
  }
  @include breakpoint('tablet') {
    #lightboxFrame {
      min-height: 0;
      min-width: 0;
    }
    #outerImageContainer {
      min-height: 0 !important;
      min-width: 0 !important;
    }
    #imageDataContainer {
      min-width: 0 !important;
    }
  }
  @include breakpoint('mini-tablet') {
    #lightboxFrame {
      min-height: 0;
      min-width: 0;
    }
    #outerImageContainer {
      min-height: 0 !important;
      min-width: 0 !important;
    }
    #imageDataContainer {
      min-width: 0 !important;
    }
  }
  @include breakpoint('phone') {
    #lightboxFrame {
      min-height: 0;
      min-width: 0;
    }
    #outerImageContainer {
      min-height: 0 !important;
      min-width: 0 !important;
    }
    #imageDataContainer {
      min-width: 0 !important;
    }
  }
  #modalContainer {
    text-align: left;
    width: 95% !important;
    @include breakpoint('tablet') {
      
    }
    @include breakpoint('mini-tablet') {
      width: 85% !important;
      overflow: hidden;
    }
    #main-wrapper > #main,
    .span12 {
      width: 100% !important;
    }
    footer#footer,
    #contextual-tabs {
      display: none;
    }
    iframe {
      overflow: hidden;
    }
  }
}
/* General Pages */
#main {
  h1, h2, h3 {
    line-height: 34px;
  }
  h2, h3 {
    font-weight: 400;
  }
  h1{
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}

/* Right content pane area */
.burr-flipped-container .span4 .oa-pane {
  border: none;
  h3.pane-title {
    background: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .panel-pane {
    border-bottom: none;
  }
}

/* Node contextual tabs */
#main-wrapper #contextual-tabs,
#main-wrapper #contextual-tabs #visibility-dropdown{
  display: none;
}
body.logged-in-admin #main-wrapper #contextual-tabs,
body.logged-in-admin #main-wrapper #contextual-tabs #visibility-dropdown{
  display: block;
}

/* Folder Widget */
.taxonomy-files {
  #bulk-file-download {
    margin-bottom: 10px;
  }
}
.taxonomy-subfolders {
  @include breakpoint('mini-tablet') {
    ul li {
      display: block;
      width: auto;
    }
  }
}
.file-breadcrumb {
  @include breakpoint('tablet') {
    margin-left: 20px;
  }
  @include breakpoint('mini-tablet') {
    margin-left: 0px;
  }
}

/* Private Message */
#privatemsg-new {
  #edit-recipient {
    width: 285px;
    @include breakpoint('mini-tablet') {
      width: 94%;
    }
  }
  #edit-body-format {
    display: none;
  }
}
.privatemsg-message {
  margin-bottom: 10px;
  max-width: none;
}
.privatemsg-message-column,
.privatemsg-author-avatar {
  display: inline-block;
  vertical-align: top;
}
.privatemsg-message-column {
  width: auto;
  float: none;
  width: 85%;
  margin-left: 15px;
  @include breakpoint('tablet') {
    width: 600px;
  }
  @include breakpoint('mini-tablet') {
    width: 65%;
  }
  @include breakpoint('phone') {
    width: 50%;
    margin-left: 5px;
  }
}
.privatemsg-author-avatar {
  width: 100px;
  min-height: 100px;
  float: none;
  img {
    border-radius: 5px;
  }
}
#modalContainer {
  #edit-body-value {
    width: 95%;
  }
}