// Page
// Styles for individual pages
// --------------------------------------------------

// Login page
// --------------------------------------------------
body.oa-login div.region-content {
  margin-top: 20px;
  min-height: 376px;
  .pane-bundle-text {
    width: 75%;
    h3 {
      font-size: 60px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    p {
      font-size: 120%;
      line-height: 125%;
    }
  }
  .pane-bundle-text:first-child {
    width: 40%;
    max-width: 481px;
    margin-top: 220px;
    height: 250px;
    text-align: center;
  }
}
body.oa-login div.content {
  margin-top: 20px;
  margin-right: 100px;
  min-height: 466px;
  position: relative;
  .oa-pane {
    position: relative;
    left: 25px;
    margin: auto;
    width: 50%;
    min-width: 300px;
    .panel-pane {
      background-color: white;
      h3 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 26px;
      }
      input.form-text {
        width: 95%;
      }
      .form-type-password {
        margin-bottom: 0;
        input {
          margin-bottom: 0;
        }
      }
      .password-reset {
        font-size: 90%;
        color: #777;
      }
    }
  }
  @include breakpoint('tablet') {
    .oa-pane {
      left: 0;
      top: 0;
    }
  }
  @include breakpoint('mini-tablet') {
    background-image: none;
    .oa-pane {
      left: 0;
      top: 0;
    }
  }
  @include breakpoint('phone') {
    background-image: none;
    .oa-pane {
      left: 0;
      top: 0;
    }
  }
}
body.oa-login #user-login-panel .oa-pane {
  top: 115px;
}

/* General Styling for Lightboxes and Lightframes */
#lightbox {
  iframe {
    overflow: scroll;
  }
  #lightboxFrame {
    min-height: 650px;
    min-width: 800px;
  }
  #outerImageContainer {
    min-height: 660px !important;
    min-width: 830px !important;
  }
  #imageDataContainer {
    min-width: 830px !important;
  }
  @include breakpoint('tablet') {
    #lightboxFrame {
      min-height: 0;
      min-width: 0;
    }
    #outerImageContainer {
      min-height: 0 !important;
      min-width: 0 !important;
    }
    #imageDataContainer {
      min-width: 0 !important;
    }
  }
  @include breakpoint('mini-tablet') {
    #lightboxFrame {
      min-height: 0;
      min-width: 0;
    }
    #outerImageContainer {
      min-height: 0 !important;
      min-width: 0 !important;
    }
    #imageDataContainer {
      min-width: 0 !important;
    }
  }
  @include breakpoint('phone') {
    #lightboxFrame {
      min-height: 0;
      min-width: 0;
    }
    #outerImageContainer {
      min-height: 0 !important;
      min-width: 0 !important;
    }
    #imageDataContainer {
      min-width: 0 !important;
    }
  }
}