// Page
// Styles for panels
// --------------------------------------------------

// General pane styles
// --------------------------------------------------
.panel-pane {
  position: relative;
  .content & {
    padding-bottom: 15px;
  }
}
.row-fluid [class="span12"] {
  min-height: 0;
}
.content .bryant-flipped-sidebar-inner,
.content .burr-flipped-sidebar-inner {
  padding-top: 0;
}
.panel-display {
  .span4 {
    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
      max-width: 90%;
    }
  }
}
#content .pane-custom {
  table tr td {
    border: 1px solid #DDDDDD;
  }
  table.hide-border tr td {
    border: 0 none;
    border-top: 1px solid #DDDDDD;
  }
}
.selby-sidebar {
  .panel-pane {
    margin-bottom: 15px;
  }
}

// IPE
// --------------------------------------------------
body.panels-ipe {
  margin-bottom: 0px !important;
  #main {
    margin-top: 20px;
    position: relative;
  }
}

// Move the Panels IPE buttons from bottom to the top
// script.js moves this element into #main
div#panels-ipe-control-container {
  background-color: transparent;
  position: absolute;
  top: -25px;
  right: -12px;
  bottom: auto;
  width: auto;
  // needs to be above most stuff, but below the dropdown
  // which are at z-index 1000
  z-index: 999;
  @include box-shadow(none);
  a {
    font-weight: normal;
  }
  @include breakpoint('phone') {
    // We don't need this on phone for now.
    display: none !important;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  div#panels-ipe-control-container {
    position: absolute;
  }
}

// OA pane
// --------------------------------------------------
.oa-pane,
body.page-node-edit #main .burr-flipped-sidebar-inner,
body.page-node-add #main .burr-flipped-sidebar-inner {
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  @include border-radius(4px);
  .panel-pane {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  &.inner-pane .panel-pane {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .pane-title {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    padding: 10px 15px;
    color: #333;
    @include ctb-gradient-vertical($navbarBackgroundHighlight, darken($navbarBackground, 5%));
  }
  .pane-content {
    padding: 15px 15px 0 15px;
    .oa-list {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
  .pane-section-sidebar-top {
    padding: 0;
    > .pane-content {
      padding: 0;
    }
  }
  .pane-default-section-sidebar {
    padding: 0;
    > .pane-content {
      padding: 0;
    }
  }
  .oa-list {
    margin-left: -1px;
    margin-right: -1px;
  }
  .pager {
    margin-top: 15px;
  }
}
.oa-bottom-right {
  position: absolute;
  right: 3px;
  bottom: 3px;
  text-align: right;
}

// Fix for selby-flipped panopoly layout
// --------------------------------------------------
.selby-flipped-column-inner {
  margin-right: 0;
  margin-left: 20px;
}

// Discussion attachments panel
// --------------------------------------------------
.attachments {
  .user-badge {
    .user-picture img {
      margin: 0 8px 0 0;
    }
    .created {
      font-size: $fontSizeMini;
      line-height: 13px;
      color: $gray;
    }
  }
  .oa-body {
    padding: 10px;
    ul {
      margin: 0;
      li {
        margin: 0 0 5px;
      }
    }
  }
}

// Content visibility
// --------------------------------------------------
.pane-oa-widgets-content-visibility {
  .visibility {
    text-transform: uppercase;
  }
}

// Widgets
// --------------------------------------------------
.pane-oa-widgets-add-content {
  ul {
    margin-left: 0;
  }
  li {
    a.btn {
      margin-bottom: 5px;
    }
  }
}

// User profile
// --------------------------------------------------
.pane-oa-widgets-user-profile {
  .user-picture {
    width: 20%;
    margin-right: 5%;
  }
  .user-info {
    .user-realname a {

    }
    text-align: center;
    width: 75%;
    .user-name,
    .user-role {
      font-size: $fontSizeSmall;
    }
  }
  .links {
    text-align: right;
    a {
      font-size: $fontSizeMini;
      border-right: 1px solid #555;
      padding-right: 5px;
    }
    a:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}

// Space summary
// --------------------------------------------------
.pane-oa-core-summary {
  .space-links {
    .favorite {
      float: left;
    }
    .edit {
      float: right;
    }
  }
}

// User spaces
// --------------------------------------------------
.pane-oa-core-user-spaces {
  .pane-content {
    position: relative;
  }
  .spaces-container {
    float: left;
    margin-right: 20px;
  }
  .space-switcher {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
  .space {
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 15px;
    margin-bottom: 5px;
    .pull-left img {
      margin-right: 15px;
    }
  }
  .member-sidebar {
    margin-bottom: 15px;
    .space {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

// Sidebar search
// --------------------------------------------------
.pane-oa-sidebar-search {
  form {
    margin: 0;
  }
  .input-append {
    @include box-sizing("border-box");
  }
  .search-text {
    height: 32px;
    width: 80%;
    @include box-sizing("border-box");
  }
  .submit {
    padding: 5px 0;
    width: 20%;
    @include box-sizing("border-box");
  }
  .options {
    margin: 10px 0 0;
  }
}

.oa-command-buttons {
  li {
    margin-bottom: 3px;
  }
}

/* Regular HTML panes */
.pane-custom {
  ul {
    list-style: disc outside none;
  }
  ol {
    list-style: decimal outside none;
  }  
}

/* Users in group pane */
.pane-impetus-panes-group-members {
  .impetus-panes-user > img {
    vertical-align: top;
  }
  .impetus-panes-user-name a.mailto-link {
    font-size: 12px;
  }
}

/* Group Menu */
#panels-ipe-regionid-sidebar .oa-pane {
  border: none;
}
.content #panels-ipe-regionid-sidebar .oa-pane {
  .pane-title {
    background: none;
  }
  .panel-pane {
    border-bottom: none;
  }
}

/* Full Calendar */
.fullcalendar {
  .fc-event,
  .fc-event-time {
    background-color: #fff;
    border-color: $grayDark;
  }
  .fc-event-title,
  .fc-event-time {
    color: $grayDark;
  }
}

/* Small events widget */
.view-display-id-oa_events_upcoming_small {
  .views-row .colored-event {
    min-height: 85px;
  }
}

/* User Profile Pane */
.pane-impetus-panes-profile-form {
  padding: 10px;
  background-color: #f1f1f1;
  .form-wrapper {
    margin-top: 10px; 
  }
  .fieldset-wrapper > .form-wrapper:first-child {
    margin-top: 0px;
  }
  .form-actions {
    background-color: #f1f1f1;
  }
  .manualcrop-preview-cropped {
    height: auto !important;
    width: auto !important;
  }
  .manualcrop-preview-cropped img,
  .manualcrop-preview img {
    margin: 0px !important;
    width: 100% !important;
  }
  .form-item-field-user-picture-und-0-alt {
    display: none; 
  }
  .password-strength {
    display: none;
  }
  .form-item-pass-pass2 {
    margin-top: -15px;
  }
  .form-item-pass-pass2 > div.password-confirm {
    display: block;
    width: 100%;
    margin-top: 0px;
  }
  .password-suggestions {
    width: auto !important;
  }
  label[for="edit-pass--2"] {
    font-weight: bold;
  }
}

/* Metrics Panes */
.pane-impetus-panes-section-metrics {
  .pane-content {
    max-height: 500px;
    border: 1px solid #999;
    border-radius: 6px;
  }
  table.metrics-table {
    max-width: none;
    width: auto;
    min-width: 1000px;
    table-layout: fixed;
  }
  .fht-table tr, 
  .fht-table th, 
  .fht-table td {
    padding: 5px;
  }
  .fht-table-wrapper fht-body {
    max-height: 400px !important;
  }
  thead tr th {
    border-bottom: #333 solid 2px;
    font-weight: bold;
  }
}

/* Survey Gizmo Panes */
table.DynarchCalendar-topCont {
  width: 450px;
  top: 20px !important;
}

/* Folder Widget Panes */
/*.pane-content .view-folder-files {
  .subfolder-container,
  #bulk-file-upload-add-taxonomy-term-form {
    vertical-align: top;
    display: inline-block;
  }
  .subfolder-container {
    width: 70%;
  }
  #bulk-file-upload-add-taxonomy-term-form {
    width: 20%;
  }
  ul.subfolders {
    margin-right: 15px;
  }
  ul.subfolders li {
    display: block;
  }
}*/