/*
 * Custom styles for the Jira Issue Collector link
 */

.atlwdg-popup {
  max-width: 90%;
}

#atlwdg-trigger {
  box-sizing: content-box;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9.5pt;
  text-align: center;
  background-color: rgb(37,28,84);
  color: white !important;
  border-width: 0;
  border-radius: 0;
  box-shadow: none;
  width: 137px;
  height: 30px;
  padding: 15px 13px 5px 55px;
  vertical-align: middle;
}

#jira-help-icon {
  font-family: FontAwesome;
  line-height: 30pt;
  color: white;
  position: fixed;
  bottom: 3px;
  right: 153px;
  font-size: 30pt;
  z-index: 1;
}
