/* General styling for all pages */
.file-breadcrumb {
  margin-left: 30px;
  padding: 5px;
  background-color: #EEEEEE;
  border-radius: 5px;
}
.file-breadcrumb li {
  display: inline-block;
  margin: 0px 5px;
}
.taxonomy-files td img.bulk-upload-folder-icon {
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}
.taxonomy-files td img.file-icon {
  margin-right: 5px;
}
.taxonomy-files tr.folder-section {
  background-color: #F5FAFF;
}